{% if user.is_authenticated %}
<html>
  <head>
    <title>IRC books</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <img src="{{ request.session.image_url }}"/>
    <p class="display-4">Hello, {{ user.username }}</p>
    <h1 id="title">hello</h1>
    <h1 id="fav-counter"></h1>
    <table style="border: 1px solid black;">
      <tr style="border: 1px solid black;"></tr>
    </table>
    <a class="lead" href="{% url 'story_11_logout' %}">Log out</a>
    {% csrf_token %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script>
      var x = [];
      var tmp = jQuery.parseJSON("{{ request.session.star_array }}");
      function addFav(obj) {
        let found = false;
        for (let i = 0; i < x.length; ++i) {
          if (x[i] == obj) {
            found = true;
            x.splice(i, 1);
            $("#star-" + obj).css("color", "black");
          }
        }
        if (!found) {
          x.push(obj);
          $("#star-" + obj).css("color", "gold");
        }
        $("#fav-counter").html(
          '<h1><i class="fa fa-star">:' + x.length + "</i></h1>"
        );
        $.ajax({
          type: "POST",
          url: "/story_11/",
          data: {"star_array": JSON.stringify(x)},
          headers: {'X-CSRFToken': jQuery("[name=csrfmiddlewaretoken]").val()},
        })
      }
      function onReady(callback) {
        var intervalId = window.setInterval(function() {
          if (document.getElementsByTagName("body")[0] !== undefined) {
            window.clearInterval(intervalId);
            callback.call(this);
          }
        }, 1000);
      }
      onReady(function() {
        var z = $.ajax({
          type: "GET",
          dataType: "json",
          url: "/story_9/proxy",
          success: function(result) {
            function renderTr(obj) {
              return "<td style='border: 1px solid black'>" + obj + "</td>\n";
            }

            $("#title").html("total books = " + result.items.length);
            str_q =
              "<tr>" +
              renderTr("<b>Title") +
              renderTr("<b>Publisher") +
              renderTr("<b>Published DATE") +
              renderTr("<b>Page Count") +
              renderTr("<b>Add to Favourite</b>") +
              "</tr>";
            for (let i = 0; i < result.items.length; ++i) {
              str_q +=
                "<tr>" +
                renderTr(result.items[i].volumeInfo.title) +
                renderTr(result.items[i].volumeInfo.publisher) +
                renderTr(result.items[i].volumeInfo.publishedDate) +
                renderTr(result.items[i].volumeInfo.pageCount) +
                renderTr(
                  '<div style="display:flex; justify-content: center;"><button onclick="addFav(' +
                    i +
                    ')" class="btn"><i class="fa fa-star" id="star-' +
                    i +
                    '"></i></button></div>'
                ) +
                "</tr>" +
                "\n";
            }
            $("table").html(str_q);
            for(let i = 0; i < tmp.length; ++i){
              addFav(tmp[i]);
            }
          }
        });
      });
    </script>
  </body>
</html>
	{% else %}
    <body>
        <a class="lead" href="{% url 'story_11_login' %}">Log in</a>
    </body>
	{% endif %}
</body>