<html>
    <head>
        <title>Subscribe to keemstar</title>
    </head>
    <!--
        admin:root
        have fun dehashing, becareful!
        they are salty ;).
    -->
    <body>
        <label for="name">Name:</label>
        <input type="text" id="name-id"></input>
        <label for="email">Email:</label>
        <input type="email" id="email-id"></input>
        <label for="password">Password:</label>
        <input type="password" id="password-id"></input>
        <button onclick="myFunc()">Register</button>
        <h1 id="status"></h1>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        {% csrf_token %}
        <script>
            function myFunc(){
                obj = $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "register",
                    headers: {'X-CSRFToken': jQuery("[name=csrfmiddlewaretoken]").val()},
                    data: {
                        "q": "create",
                        "email": $("#email-id").val(),
                        "name": $("#name-id").val(),
                        "password": $("#password-id").val(),
                    },
                    success: function(result){
                        $('#status').html(result['registered'] ? "Success!" : "Failed...");
                    }
                });
            }
            $('#email-id').on('keyup', function(){
                $.ajax({
                    type: "POST",
                    headers: {'X-CSRFToken': jQuery("[name=csrfmiddlewaretoken]").val()},
                    dataType: "json",
                    url: "register",
                    data: {
                        "q": "askEmail",
                        "email": $("#email-id").val(),
                    },
                    success: function(result){
                        $('#status').html(result['emailExist'] ? "Existed" : "Available!");
                        if(!result['emailExist']){
                            $('button').prop('disabled', false);
                        } else {
                            $('button').prop('disabled', true);
                        }
                    }
                 })
            });
        </script>
    </body>
</html>