<html>
    <head>
        <title>Subscriber</title>
    </head>
    <body>
        <table id="table-1" style="border: 1px solid">
        </table>

        {% csrf_token %}
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script>
            function myFunc(id){
                let password = prompt("Password :", "");
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "unregister",
                    headers: {'X-CSRFToken': jQuery("[name=csrfmiddlewaretoken]").val()},
                    data: {
                        "password" : password,
                        "email" : $("#"+id).children().eq(1).html(),
                    },
                    success: function(result){
                        result['status'] ? alert("Unsubbed") : alert("Wrong Password!");
                        result['status'] ? $("#"+id).html('') : null;
                    }
                });
            }
            $.ajax({
                    type: "GET",
                    dataType: "json",
                    url: "subscriber-list",
                    success: function(result){
                       let str = "";
                       for(let i = 0; i < result.length; ++i){
                           str+= "<tr id='" + i + "'>" +
                                    "<td style='border: 1px solid'>"+ result[i].name +"</td>" +
                                    "<td style='border: 1px solid'>"+ result[i].email + "</td>"+ 
                                    "<td style='border: 1px solid'><button onclick='myFunc("
                                    + i + ")'>Unsuscribe</button></td>"+
                                 "</tr>";
                       }

                       $("#table-1").html(str);
                    }
                });
        </script>
    </body>
</html>