{% extends 'base__story6.html' %}
{% load static %}
{% block content %}
<div>
    <div class="whoami">
        <div>
            <img src="{% static 'story4/download.jpg' %}" class="profile_img" />
        </div>
        <div>
            <table>
                <tr>
                    <td>Education :</td>
                </tr>
                <tr>
                    <td>@ University of Indonesia</td>
                </tr>
                <tr>
                    <td>@ 42 US Coding School</td>
                </tr>
                <tr>
                    <td><br></td>
                </tr>
                <tr>
                    <td>Experiences</td>
                </tr>
                <tr>
                    <td>@ GDP Labs, Software Eng</td>
                </tr>
                <tr>
                    <td>@ Dekoruma, Software Eng</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="about">
        <p>About Me</p>
    </div>
    <article class="main_article">
        Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at vix ad putent
        delectus
        delicata usu. Vidit dissentiet eos cu eum an brute copiosae hendrerit. Eos erant dolorum an. Per
        facer
        affert ut. Mei iisque mentitum moderatius cu. Sit munere
    </article>
</div>
{% endblock %}