<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>
        <h1>
            Hello Apa Kabar?
        </h1>
        <form class="form-block" method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ status_form }}
                <input type="hidden" name='q' value='create'/>
            </div>
            <button type="submit" id="submit-status" class="btn btn-primary">Submit</button>
        </form>
        <div style="display:flex; justify-content:center;">
            <table style="border: 1px solid black; background-color: gray">
                {% for status in statuses %}
                <tr style="border: 1px solid black;" id="{{status.id}}">
                    <td style="border: 1px solid black;">
                        {{ status.content }}
                    </td>
                    <td style="border: 1px solid black;">
                        {{ status.created_date }}
                    </td>
                    <td>
                        <button class="btn btn-danger" onclick="myFunc({{status.id}})" id='del-{{status.id}}'>delete</button>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">
        </script>
        
        <script>
            let myFunc = (id) => {
                $.ajax({
                    url: '/story_7/',
                    type: 'POST',
                    headers: {'X-CSRFToken': jQuery("[name=csrfmiddlewaretoken]").val()},
                    data: {'q': 'delete', 'id' : id},
                    success: function(result){
                        $('#' + id).remove();
                    }
                })
            }
        </script>
    </body>
</html>