.main_header {
  /* margin-top: -20px; */
  border-bottom: 1px solid purple;
  border-spacing: 0;
  max-width: 38%;
}
.vline {
  border-right: 1px solid purple;
}

.second {
  padding-left: 0.5vw;
}

.nameku {
  font-size: 2.89vw;
  font-family: "Merriweather";
  font-weight: bold;
  margin-right: 1vw;
}

.navbarku {
  margin-right: 0.5vw;
  display: block;
}

.navbarku a:hover {
  border: 1px solid black;
}

.navbarku a {
  text-decoration: none;
  color: #47525e;
  padding-right: 1vw;
}

.img_icon {
  max-width: 15%;
  margin-left: -2px;
  margin-bottom: -1.05vw;
}

.about {
  text-align: center;
  max-width: 75%;
}

body {
  background-color: #fbcb5c;
  font-size: 1.36vw;
  margin: 10%;
  margin-top: 5%;
  font-family: "Lato";
}

td {
  font-size: 1.2vw;
  font-family: "Lato";
}

.whoami {
  display: flex;
  justify-content: flex-start;
  max-width: 31.33vw;
}

.whoami > div {
  flex: 1;
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
  margin-right: 0.52vw;
  margin-top: 0.52vw;
}
.whoami > div > img {
  max-width: 100%;
}

.whoami > article {
  flex: 2;
}

.card,
.main_article {
  max-width: 71%;
}

.card {
  margin-top: 0.5vw;
  background-color: #c2dccd;
  display: flex;
  min-height: 10.5vw;
  max-height: 10.5vw;
  min-width: 28.5vw;
  max-width: 28.5vw;
}

.card .projects_img {
  max-width: 100%;
  height: 100%;
}

.card > div {
  flex: 1;
}
.card > .txt {
  flex: 3;
  margin-left: 0.5vw;
  margin-bottom: 0.5vw;
}

.card > .txt > .txt_title {
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
}

.main {
  display: flex;
}

.half {
  flex: 1;
  max-width: 38.84514435695538vw;
  min-width: 38.84514435695538vw;
}
.second_half {
  flex: 1;
}

.registration_form {
  max-width: 71%;
  margin-top: 0.5vw;
  background-color: #c2dccd;
  border: black 1px solid;
}

@media (max-width: 580px) {
  .half {
    display: none;
  }
  .main {
    display: block;
  }
  .second_half {
    display: block;
  }
  .about,
  .main_article {
    max-width: 40%;
  }
}
