{% load static %}

<html>
  <!-- Maaf bukan anak frontend, kenapa ppw nya begini -_- -->

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>mysite</title>
    {% block additional_css %} {% endblock %}
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'story4/my.css' %}"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Merriweather"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato"
      rel="stylesheet"
    />
  </head>

  <body>
    <div style="display:flex; justify-content:center; align-items:center;">
      <div id="loading"></div>
    </div>
    <div class="page">
      <div class="main">
        <div class="second_half">
          <div class="navbarku">
            <button type="submit" class="btn btn-primary" id="change-theme">
              Change Theme
            </button>
          </div>
          <br />
          <div>
            <table class="main_header">
              <tr>
                <td><div class="nameku">Steven</div></td>
              </tr>
              <tr>
                <td class="vline"><div class="nameku">Kusuman</div></td>
                <td class="second">
                  <img
                    src="{% static 'story4/github.png' %}"
                    class="img_icon"
                    style="background-color: white; border-radius: 50%"
                  />
                  <img
                    src="{% static 'story4/linkedin.png' %}"
                    class="img_icon"
                    style="background-color: white; border-radius: 50%"
                  />
                </td>
              </tr>
              <tr>
                <td class="vline">A newbie developer</td>
                <td class="second">deadf00d@protonmail.ch</td>
              </tr>
            </table>
          </div>
          {% block content %} {% endblock %}
        </div>
        <div class="half">
          <iframe
            width="100%"
            height="100%"
            src="https://docs.google.com/document/d/e/2PACX-1vSSEfwlJ2T6PcQ4AbI27hehzBpw2_ftje285EKFbLFUg98aHyC1f9THENLB8LHlLyII6wTp2k3zRVf_/pub?embedded=true"
          ></iframe>
        </div>
      </div>
    </div>
    <script
      type="text/javascript"
      src="{% static 'story4/rootkit.js' %}"
    ></script>
    <script>
      function onReady(callback) {
        var intervalId = window.setInterval(function() {
          if (document.getElementsByTagName("body")[0] !== undefined) {
            window.clearInterval(intervalId);
            callback.call(this);
          }
        }, 1000);
      }

      onReady(function() {
        $(".page").show();
        $("#loading").hide();
      });
    </script>
    {% block additional_js %} {% endblock %}
  </body>
</html>
