{% extends 'base__story8.html' %} {% load static %} {% block content %}
<div>
  <div class="whoami">
    <div>
      <img src="{% static 'story4/download.jpg' %}" class="profile_img" />
    </div>
    <div>
      <table>
        <tr>
          <td>Education :</td>
        </tr>
        <tr>
          <td>@ University of Indonesia</td>
        </tr>
        <tr>
          <td>@ 42 US Coding School</td>
        </tr>
        <tr>
          <td><br /></td>
        </tr>
        <tr>
          <td>Experiences</td>
        </tr>
        <tr>
          <td>@ GDP Labs, Software Eng</td>
        </tr>
        <tr>
          <td>@ Dekoruma, Software Eng</td>
        </tr>
      </table>
    </div>
  </div>

  <article class="main_article" style="margin-top:20px">
    <div id="accordion" style="overflow: auto;">
      <h3 id="ac-0">Aktivitas</h3>
      <div><p>Kuliah, Reversing.id, CTF, CP, nonton youtube</p></div>
      <h3 id="ac-1">Pengalaman Organisasi</h3>
      <div><p>Compfest X</p></div>
      <h3 id="ac-2">Prestasi</h3>
      <div>
        <ul>
          <li>CVE-2018-1275</li>
          <li>8th Cyber Jawara Hacking Competition</li>
          <li>ACM ICPC National Winner</li>
        </ul>
      </div>
    </div>
  </article>
</div>
{% endblock %} {% block additional_js %}
<script type="text/javascript" src="{% static 'story4/rootkit.js' %}"></script>
<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"
></script>
<link
  rel="stylesheet"
  href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
/>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
  crossorigin="anonymous"
></script>
<script>
  var x = 1;
  $(document).ready(function() {
    $("button").click(function() {
      if (x) {
        $("body").css("background-color", "#4D0000");
        $("body").css("color", "#FFFFFF");
      } else {
        $("body").css("background-color", "#fbcb5c");
        $("body").css("color", "#000000");
      }
      x ^= 1;
    });
    $(function() {
      $("#accordion").accordion({ collapsible: true });
    });
    $("#ac-0").click(function() {
      $("#ui-id-1").css("height", "200px");
    });
    $("#ac-1").click(function() {
      $("#ui-id-2").css("height", "200px");
    });
    $("#ac-2").click(function() {
      $("#ui-id-3").css("height", "200px");
    });
  });
</script>

{%endblock %}
